@import url('style.css');
@media screen and (min-width: 1200px) {
	span{display: block;}
  	.warp{width: 1200px;margin: 0 auto;}

	.head{background-color: white;box-shadow: 1px 1px 2px #cdc8c8;height: 60px;position: fixed;width: 100%;top: 0;left: 0;right: 0;z-index: 999;}
	.head > .warp{overflow: hidden;}
	.head > .warp li{float: left;margin-left: 35px;padding:20px 10px;color: #555555;}
	.head > .warp li:hover{cursor: pointer;background-color: #FFF12A;color: black;font-weight: bold;}
	.head > .warp > .home{float: left;margin-right: 30px;text-decoration: none;color:#555555;display: flex; display: block;overflow: hidden;cursor: pointer;}
	.head > .warp > .home > .logo{display: inline-block;}
	.head > .warp > .home > .logo > img{padding: 8px 0;width: 42px;height: 42px;}
	.head > .warp > .home > .logotext{display:inline;line-height: 56px;font-size: 24px;vertical-align: top;margin-left:3px;}
	.head > .warp > .search{float: right;padding: 12px 0;}
	.head > .warp > .search > img{width: 32px; height: 32px;margin-right: 10px;}

	.head > .warp > .search .searchbox{border: 1px solid #CCCCCC;}
 	.head > .warp > .search .searchbox > #qinput{border: none;height: 32px;padding-left: 5px;font-size: 14px;color:#555555; }
 	.head > .warp > .search .searchbox > #qbtn{vertical-align: middle;padding:4px 10px;width: 24px; height: 24px;}
	.head > .warp > .search > #search{display: none;}
	.head > .warp > .search > #menu{display: none;}

	.page{background-color: #F3F3F3;padding-bottom: 20px;position: relative;top: 60px;}
	.page > .warp{overflow: hidden;padding-left: 10px;padding-right: 10px;}
	.page > .warp > .left{float: left;width: 72%;margin-left: 12px;}
	.page > .warp > .right{float: right;padding-top: 20px;margin-left: 20px;width: 25%}
	.page > .warp > .left > .new{overflow: hidden;}
	.page > .warp > .left > .new > .item{width:23%;float: left; background-color: white;margin:20px 8px 8px;}
	.item:hover{box-shadow: 3px 3px 6px #b5abab;cursor: pointer;}
	.page > .warp > .left > .new > .item > img{width: 100%;max-height: 290px;height:290px;}
	.page > .warp > .left > .new > .item > .discrib{}
	.page > .warp > .left > .new > .item > .discrib > .title{font-size: 16px;text-align:center;padding: 10px 0;color: gray;}

	.page > .warp > .right > .item{background-color: white;}

	.foot{margin-top: 60px;}
	.foot > .warp > .about{margin: 0 auto;padding: 10px 10px;overflow: hidden;border-bottom:1px solid #dedada;}
	.foot > .warp > .about div{width: 32%;float: left;margin-left: 15px; margin-right:10px;margin-top: 5px;}
	.foot > .warp > .about div > span{color: #555555;padding: 10px 0;}
	.foot > .warp > .about div > p{color: #9b9b9b;font-size: 12px;padding-top: 3px;padding-bottom: 3px;}
	.foot >  .warp > .links{margin: 0 auto;padding: 10px 10px;}
	.foot >  .warp > .links > .link{margin-left: 15px; margin-right:10px;}
	.foot >  .warp > .links > .link > p{color: #555555;padding: 10px 0;}
	.foot >  .warp > .links > .link > div > a{text-decoration: none;color: #9b9b9b;font-size: 12px;padding-top: 3px;padding-bottom: 3px;margin-left: 10px;}
	.foot > .beian{text-align: center;}
	.foot > .warp > .beian{text-align: center;padding-top: 10px;padding-bottom: 20px;border-top:1px solid #dedada;}
	.foot > .warp > .beian > img{vertical-align: bottom;margin-right: 10px;}
	.foot > .warp > .beian > a{margin-right: 15px;text-decoration: none;color:#9b9b9b;font-size: 14px;}
	.foot > .warp > .beian > a:hover{text-decoration: underline;}

	.snackbar{position: fixed;bottom: 50px;right: 20px;}
	.snackbar > .top:hover{cursor: pointer;background-color:white;}
	.snackbar > .top{background: white;width: 30px;height: 30px;padding: 10px;border-radius: 26px;}
	.snackbar > .top > img{width: 30px;height: 30px;}

	.snackbar > .feedback:hover{cursor: pointer;background-color:white;}
    .snackbar > .feedback{background: white;width: 30px;height: 30px;padding: 10px;border-radius: 26px;margin-bottom: 20px;}
    .snackbar > .feedback img{width: 30px;height: 30px;}

    .snackbar > span{font-size: 12px;display: block;text-align: center;}
}

@media screen and (max-width: 1200px) {
	.warp{width: 100%;margin: 0 auto;font-size: -7em;}
	.head{background-color: white;box-shadow: 1px 1px 2px #cdc8c8;height: 60px;position: fixed;width: 100%;top: 0;left: 0;right: 0;z-index: 999;}
	.head > .warp{overflow: hidden;}
	.head > .warp >li{display: none;}
	.head > .warp > .home{float: left;margin-left: 15px;margin-right: 30px;text-decoration: none;color:#555555;display: flex; display: block;overflow: hidden;cursor: pointer;}
	.head > .warp > .home > .logo{display: inline-block;}
	.head > .warp > .home > .logo > img{padding: 8px 0;width: 42px;height: 42px;}
	.head > .warp > .home > .logotext{display:inline;line-height: 56px;font-size: 18px;vertical-align: top;margin-left:3px;}
    .head > .warp > .search{float: right;padding: 12px 0;}
	.head > .warp > .search > img{width: 32px; height: 32px;margin-right: 10px;}
	.head > .warp > .search .searchbox{display: none;}
	

	.page{background-color: #F3F3F3;padding-bottom: 20px;position: relative;top: 60px;}
	.page > .warp{overflow: hidden;}
	.page > .warp > .left{}
	.page > .warp > .left > .new{}
	.page > .warp > .left > .new > .item{background-color: white;padding: 5px 20px 10px 20px;margin-top: 10px;}
	.item:hover{box-shadow: 3px 3px 6px #b5abab;}
	.page > .warp > .left > .new > .item > .imgs{margin-top: 15px;}
	.page > .warp > .left > .new > .item > .title{font-size: 16px;padding:5px 5px 10px 5px;border-bottom: 1px solid #EEEEEE;color:#555555; }
	.page > .warp > .left > .new > .item > .imgs > img{ width:48%;height:130px;padding: 2px 2px 2px 2px;}

	.foot{margin-top: 60px;font-size: 14px;}
	.foot > .warp > .about{display: none;}
	.foot > .warp > .links{display: none;}
	.foot > .warp > .beian{text-align: center;}
	.foot > .warp > .beian{text-align: center;padding-top: 10px;padding-bottom: 10px;border-top:1px solid #dedada;}
	.foot > .warp > .beian > img{vertical-align: bottom;margin-right: 10px;}
	.foot > .warp > .beian > a{margin-right: 15px;text-decoration: none;color:#555555;}

	.snackbar{position: fixed;bottom: 50px;right: 10px;}
	.snackbar > .top:hover{cursor: pointer;background-color:white;}
	.snackbar > .top{background: white;width: 30px;height: 30px;padding: 10px;border-radius: 26px;}
	.snackbar > .top > img{width: 30px;height: 30px;}

	.snackbar > .feedback:hover{cursor: pointer;background-color:white;}
    .snackbar > .feedback{background: white;width: 30px;height: 30px;padding: 10px;border-radius: 26px;margin-bottom: 20px;}
    .snackbar > .feedback img{width: 30px;height: 30px;}

    .snackbar > span{font-size: 12px;display: block;text-align: center;}
}